<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_1st_Facial_Recognition.Properties.Settings.BookingFacilityConnectionString"
            connectionString="Data Source=L30809\SQLEXPRESS;Initial Catalog=BookingFacility;User ID=sa;Password=pakmeng123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>